<br>
<br>
<div class="container ">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active">Inicio</a></li>
        <li class="breadcrumb-item" [routerLink]="['/oakley']" routerLinkActive="active">Oakley</li>
      </ol>
    </nav>
  </div>
  <div class="adidas" *ngFor="let tenisAdidas of products">
    <h6>{{tenisAdidas.nome}}</h6>
    <img [src]="tenisAdidas.imgg">
    <p>{{tenisAdidas.price}}</p>
</div>
