<div class="menu">
  <div class="lateral">
    <ul class="lista">
      <br>
      <br>
      <br>
      <br>
      <h2>MENU</h2>
    <h3>Categorias/Marcas</h3>
    <ul>
      <li><a routerLink="home">Início</a></li>
      <li><a routerLink="nike">Nike</a></li>
      <li><a routerLink="adidas">Adidas</a></li>
      <li><a routerLink="mizuno">Mizuno</a></li>
      <li><a routerLink="puma">Puma</a></li>
      <li><a routerLink="olympikus">Olympikus</a></li>
      <li><a routerLink="all-star">All-Star</a></li>
      <li><a routerLink="lacoste">Lacoste</a></li>
      <li><a routerLink="under-armour">Under-Armour</a></li>
      <li><a routerLink="acics">Acics</a></li>
      <li><a routerLink="oakley">Oakley</a></li>
    </ul>
    </ul>
  </div>
  <div class="produtos">
    <router-outlet></router-outlet>
  </div>
</div>